@charset "UTF-8";

/* Aparelho em Pé */

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    text-align: left;
}